<link rel="import" href="../polymer/polymer-element.html">
<dom-module id="mi-login">
   <template>
       <style>
         :host {
           display: block;
         }
       </style>
       <template is="dom-if" if="[[!acceso]]" restamp>
       <form>
         <p>
           <!-- <label for="user">Username:</label> -->
           <input  placeholder="Username" for="users" type="text" name="user" id="users">
         </p>
         <p>
           <input placeholder="Password" for="pass" type="password" name="pass" id="pwd">
         </p>
         <button type="button" on-click="validate" id="btnData">Continue</button>
       </form>
     </template>
       <template is="dom-if" if="[[acceso]]">
           <h2>Bienvenido [[acceso]]</h2>
     </template>
       </template>
 <script>
   class MiLogin extends Polymer.Element {
     static get is() { return 'mi-login'; }
     static get properties() {
       return {
         users: {
           type: Array,
           value: [
               { first: 'Luis', last: 'Armas', pass: 'Luis123', user: 'Luis08' },
               { first: 'Marcos', last: 'Perez', pass: 'Marcos123', user: 'Marcos01'},
               { first: 'Ana', last: 'Ramirez', pass: 'Ana123', user: 'Ana08' },
               { first: 'Juan', last: 'Martinez', pass: 'Juan123', user: 'Juan01' },
               { first: 'Dulce', last: 'Estrada', pass: 'Dulce123', user: 'Dulce08' }
             ]},
           acceso:{
             type: String,
             value: ""
           }
         };
       }
     validate() {
       let us = this.shadowRoot.getElementById('users');
       let ps = this.shadowRoot.getElementById('pwd');
       console.log(us.value, ps.value);
       this.users.forEach(key => {
         if (us.value == key.user && ps.value == key.pass) {
           console.log(us.value, ps.value, key.user, key.pass);
           this.acceso = key.first;
          }
       });
     }
   }
   window.customElements.define(MiLogin.is, MiLogin);
 </script>
</dom-module>